.editPost {
    display: flex;
    flex-direction: column;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  .field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .field input,
  .field textarea {
    width: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons button {
    margin-top: 10px;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  